body {
  font-family: veranda, sans-serif;
  font-size: 13px;
  width: 350px;
  height: 255px;
  margin: 0; /*new*/
  padding: 0; /*new*/
}

.topLine{
  display: flex;
  width: 100%;
  background-color: #158DCF;
  line-height: 0px;
  height: 50px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#icon{
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  background: radial-gradient(circle at center, white 56%, transparent 61%);
  padding-bottom: 5px;
}

#title{
  padding-bottom: 2px;
  font-size: 30px;
  line-height: 0px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  margin: auto;
  width: 100%;
  float: left;
  padding-left: 5px;
  padding-top: 3px;
}

#menu{
    padding-left: 10px;
    padding-top: 5px;
}


.bodyHTML{
    background-color: white;
}


.grade{
    font-size:14px;
    font-weight: 550;
}


.ScoreGraph{
     /* For button text center */
    position: absolute;          /* Position absolute */
    left: 16%;
    padding-top: 14%;
}
    .item {
        position: relative;
        float: left;
    }

    .item h2 {
        text-align:center;
        position: absolute;
        width: 100%;
        
    }

#scoreHTML{
  font-size: 34px;
  margin-top: 113px;
}

.item:hover #scoreHTML { 
  opacity: .40;
}

.grade {
  position: relative;
  display: inline-block;
  padding-top: 18px;
  width: 100%;
  text-align: center;
  font-size: 22px;
  

}

.grade .tooltiptextGrade {
  visibility: hidden;
  width: 240px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.5s;
}

.grade .tooltiptextGrade::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent transparent;
}

.grade:hover .tooltiptextGrade {
  visibility: visible;
  opacity: 1;
}

.tooltiptextGrade {
  font-size:12px;
  font-family: Tahoma, sans-serif;
}

#blocked{
    padding-top: 225px;
    width: 100%;
    text-align: center;
    font-size: 28px;
    letter-spacing: 0.1em;
    font-weight: 550;
}

#footer{
  padding-top: 5px;
  display: flex;
  bottom: 0;
  width: 100%;
  border-top: 1px solid gray;
  background-color: whitesmoke;
  height: 51px;
  
}

#donate{
  padding-left: 12px;
  padding-top: 7px;
  padding-bottom: 3px;
}

/* Ukraine Donation */
#supportUA{
  display: flex;
  line-height: 0px;
}

#uaFlag{
    padding-left: 124px;
    padding-right: 5px;
    padding-bottom: 3px;
}

#supportText{
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 5px;
    
}

/*This is the hover menu*/

/* Dropdown Button */
.dropbtn {
  background-color: #158DCF;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-style: solid;
  border-width: .5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
/*  padding: 12px 16px;*/
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 3px;
  text-decoration: none;
  display: block;
  width: 300px;
  border-style: solid;
  border-width: .25px;
  color: #4d4b4b;
  
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background: radial-gradient(circle at center, white 1%, transparent 95%);}*/










