body {
  font-family: veranda, sans-serif;
  font-size: 13px;
  width: 350px;
  height: 295px;
  background-color: #f2f2f2;
  margin: 0; /*new*/
  padding: 0; /*new*/
}

.topLine{
  display: flex;
  width: 100%;
  background-color: #158DCF;
  line-height: 0px;
  height: 50px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#icon{
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  background: radial-gradient(circle at center, white 56%, transparent 61%);
  padding-bottom: 5px;
}

#title{
  padding-bottom: 2px;
  font-size: 35px;
  line-height: 0px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  margin: auto;
  width: 100%;
  float: left;
  padding-left: 5px;
  padding-top: 3px;
}

.grade{
    font-size:14px;
    font-weight: 550;
}


.ScoreGraph{
     /* For button text center */
    position: absolute;          /* Position absolute */
    left: 16%;
    padding-top: 14%;
}
    .item {
        position: relative;
        float: left;
    }

    .item h2 {
        text-align:center;
        position: absolute;
        width: 100%;
        
    }

#scoreHTML{
  font-size: 34px;
  margin-top: 113px;
}

.grade {
  position: relative;
  display: inline-block;
  padding-top: 18px;
  width: 100%;
  text-align: center;
  font-size: 22px;
  

}

.grade .tooltiptextGrade {
  visibility: hidden;
  width: 240px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.5s;
}

.grade .tooltiptextGrade::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent transparent;
}

.grade:hover .tooltiptextGrade {
  visibility: visible;
  opacity: 1;
}

.tooltiptextGrade {
  font-size:12px;
  font-family: Tahoma, sans-serif;
}

#blocked{
    padding-top: 225px;
    width: 100%;
    text-align: center;
    font-size: 28px;
    letter-spacing: 0.1em;
    font-weight: 550;
}

#footer{
  padding-top: 20px;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 1.25rem;
}

#donate{
  padding-left: 12px;
}

/* Ukraine Donation */
#supportUA{
  display: flex;
  line-height: 0px;
}

#uaFlag{
    padding-left: 117px;
    padding-right: 5px;
}

#supportText{
    padding-top: 8px;
}

