body {
  font-family: helvetica, sans-serif;
  background: #1E1E1E;
  font-size: 25px;
  color: #EAEAEA;
  margin: 0;
/*  overflow-x: hidden;  */
}

.topnav {
  overflow: hidden;
  z-index: 2;
  background: #2B2B2B;
}



.topnav a {
  float: left;
  color: whitesmoke;
  text-decoration: none;
  z-index: 2;
  text-shadow: 0 0 .6px #606060, 0 0 .6px #606060;
  
}

#bizname{
  font-size: 21px;
  padding-top: 8px;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: -0.022em;
  line-height: 150%;
}

#rightNavBar{
    float: right;
}

#aaLink, #aboutLink{
    padding-top: 8.5px;
    height: 15px;
    font-weight: 500;
    font-size: 21px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.022em;
    color: #FFFFFF;
    margin-right: 40px;
}

@media (max-width: 500px) {
  #bizname{
    font-size: 30px;
    margin-top: 10px;
  }
}

#heroDiv, #heroDescDiv, #gmButtons, #badgeDiv, #susMethodDiv, #recEnergyContainer, #energyText, #energyTextDesc, #arrowDiv, #recCo2Container, #co2Text, #whatIsTitleDiv, #whatIsTextContainer, #whyUseHeaderDiv, .gradeTextClass, #recoHeadDiv, #recoContainer, #addDiv,  #badgeDivLower, #aaBButtons, #aahHeroDiv, #aaHeroDescDiv, .aaSquareContainer{
    display: flex;
    width: 100%;
    justify-content: center;
}

#heroText, #aaHeroText{
    color: #00A865;;
    font-size: 61px;
    letter-spacing: -0.02em;
    line-height: 150%;
    font-weight: 700;
    width: 600px;
    margin-bottom: 10px;
    
}

#heroDescText, #aaHeroDescText{
    letter-spacing: -0.02em;
    line-height: 150%;
    width: 600px;
    font-size: 36px;
}

#chromeButton{
    width: 260px;
    height: 70px;
    left: 420px;
    top: 27px;
    background: #00A865;
    border-radius: 8px;
    line-height: 1;
    margin-right: 65px;
}

#gmButtons{
    padding: 20px;
}

#edgeButton{
    width: 260px;
    height: 70px;
    left: 420px;
    top: 27px;
    background: #E75926;
    border-radius: 8px;
    padding-left: 19px;
    margin-left: 10px;
}

.chromeButtonText{
    position: absolute;
    color: #EAEAEA;
    font-size: 27px;
    margin-top: 12px;
}

#chromeImg{
    margin-right: 10px;
    margin-left: -180px;
}

#chromeButton:hover, #edgeButton:hover, #applyButton:hover, #safariButton:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  opacity: 0.92;
  cursor: pointer;
}

#rectangleDiv{
    width: 600px;
    height: 247px;
    left: 420px;
    top: 836px;
    border: 3px solid #E75926;
    box-sizing: border-box;
    display: flex;
    padding: 22px;
}

#badgeDiv{
    margin-top: 100px;
    margin-bottom: 80px;
}

#sustainBadge{
    margin-top: 17px;
    margin-left: 18px;
}

#badgeDesc{ 
    margin-left: 50px;
}

#badgeTitle{
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 700;
}

#badgeTitleDesc{
   font-size: 22px; 
}


#factContainer{
    
    display: flex;
    width: 100%;
    border-top: 3px solid #EAEAEA;
    border-bottom: 3px solid #EAEAEA;
}


#factContainerLeft, #factContainerRight{
    width: 50%;
    border-right: 3px solid #EAEAEA;
    overflow-x: hidden;
}

.factNum{
    letter-spacing: -0.022em;
    color: #00A865;
    font-weight: 700;
    font-size: 38px;
    margin-left: 60px;
    margin-bottom: 5px;
}

.factFact{
    font-weight: 500;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: -0.022em;
    margin-top: 0;
    margin-left: 100px;
    margin-right: 25%;
}

#twoFact{
    margin-top: 200px;
}

#threeFact{
    margin-top: 120px;
}

#fourFact{
    margin-top: 120px;
}

.highlightFactText{
    color: #E75926;
    -webkit-text-stroke: .5px #E75926;
}

#measuredDiv, #whatIsDiv, #gradeCalculatedDiv, #measuredDivAA{
    padding-bottom: 100px;
    border-bottom: 3px solid #EAEAEA;
}

#howSusMeasureID, #whatIsID, #whyUseHeader, #recoHeaderID{
    
    font-weight: 700;
    font-size: 61px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: #00A865;
    
}

#recEnergyDiv{
    width: 630px;
    height: 710px;
    left: 420px;
    top: 836px;
    border: 3px solid #EAEAEA;
    padding: 22px;
    
}

#energyText{
    
    font-weight: 700;
    font-size: 47px;
    line-height: 150%;
    letter-spacing: -0.022em;
    
}

#lighteningBoltImg{
    display: flex;
    margin-left: 214px;
    margin-right: 252px;
    justify-content: center;
}

#energyTextDesc, #energyTextDescAA{
    font-weight: 500;
font-size: 36px;
line-height: 150%;
text-align: center;
letter-spacing: -0.022em;
}

#energyTextDescAA{
    margin-top: 0;
    margin-bottom: 0;
}


#arrowDiv{
    padding: 40px;
}

#lineArrowDiv{
    height: 200px;
    width: 3px;
    background-color: #EAEAEA;
    
}


.arrow {
  margin-top: 167px;
  border: solid #EAEAEA;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  justify-content: center;
  margin-left: -6.9px;
  
}


#recCO2Div{
    width: 630px;
    height: 710px;
    left: 420px;
    top: 836px;
    border: 3px solid #EAEAEA;
    padding: 22px;
    
}

#energyText, #co2Text{
    
    font-weight: 700;
    font-size: 47px;
    line-height: 150%;
    letter-spacing: -0.022em;
    
}

#lighteningBoltImg{
    display: flex;
    margin-left: 214px;
    margin-right: 252px;
    justify-content: center;
}

#co2Img{
    margin-left: 180px;
    margin-right: 260px;
    justify-content: center;
}


#whatIsGMDiv{
    width: 800px;
}

#whatIsContainer{ 
    font-weight: 700;
    font-size: 47px;
    line-height: 150%;
    letter-spacing: -0.022em;   
}

#whatIsDescContainer{  
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: -0.022em;
}


#whyContainer{
    
    display: flex;
    width: 100%;
    border-bottom: 3px solid #EAEAEA;
}


#factContainerLeft, #factContainerRight{
    width: 50%;
    border-right: 3px solid #EAEAEA;
}

.whyImg{
    margin-top: 0px;
}


.whyHeader{
    margin-top: 40px;
    font-weight: 700;
    font-size: 47px;
    line-height: 150%;
    letter-spacing: -0.022em;  
    margin-bottom: 10px;
    
}

.whyDesc{
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: -0.022em;
    margin-top: 0;
    height: 300px;
    padding-right: 20px;
}

.whyHeightDiv{
    height: 500px;
}

.column1 {
  float: left;
  width: 20%;
  padding: 10px;
}

.column2 {
  float: left;
  width: 60%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#gradeCalcText{
    font-size: 30px;
}


#rectangleMetrics{
    margin-top: 50px;
    height: 230px;
    border-radius: 8px;
    border: 3px solid #EAEAEA;
    padding: 22px;
}

.rectMetFlex{
    display: flex;
}

.metricHead{
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: #E75926;
}

#recoDiv{
    margin-top: 80px;
}

#recoHeadDiv{
    margin-bottom: 80px;
}

#testypoo{
    width: 700px;
}

#recRectDiv{
    width: 700px;
    height: 500px;
    left: 420px;
    top: 836px;
    border: 3px solid #EAEAEA;
    padding: 45px;
    margin-bottom: 80px;
    
}


/*This is is for the recommendation carousel*/
////////////////////////////////////////////



/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.quoteID{
    min-height: 250px;
}

.name{ 
font-weight: 800;
line-height: 150%;
letter-spacing: -0.022em;
color: #00A865;
margin-bottom: 0;
}

.job{  
    font-weight: 500;
    letter-spacing: -0.022em;
    color: #00A865;
    margin-top: 0;  
}

#dotDiv{
    bottom: 0;
    position: sticky;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #E75926;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/////////////////////////////////////////////////////////////////////////////////////



#addDiv{
    margin-bottom: 80px;
}

#addTextDiv{
    width: 700px;
}


#recoHeaderID{
    font-weight: 700;
    font-size: 61px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: #00A865;
    text-align: left;
    margin-bottom: 100px;
}

#browserChoiceTxt{
    font-weight: 700;
    font-size: 50px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: #00A865;
    text-align: left;
}

#rectangleBtmDiv{
    width: 700px;
    height: 300px;
    border: 3px solid #E75926;
    box-sizing: border-box;
    display: flex;
    padding: 22px;
}

#badgeDivLower{
    margin-top: 100px;
    margin-bottom: 80px;
}

#badgeTitleLower{    
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#badgeTitleDescLower{
   margin-top: 15px;
   font-size: 26px;
   margin-bottom: 25px;
}



#applyButton{
    width: 350px;
    height: 55px;
    background: #00A865;
    border-radius: 8px;
    line-height: 1;
    margin-right: 60px;
    color: #FFF;
    font-size: 25px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.022em;   
}



.privacy{
    padding: 45px;
    background-color: #1E1E1E;
}

h1{  
    font-weight: 700;
    font-size: 61px;
    line-height: 150%;
    letter-spacing: -0.022em;    
}

#thanksVisting{
    font-size: 25px;
    color: #00A865;
}

.privacy h4, h2, h3{ 
    font-weight: 800;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: #00A865; 
    margin-bottom: 0px;
}

.privacy p{ 
    margin-top: 10px;
    font-size: 21px;
    letter-spacing: -0.022em;   
}

.terms{
    padding: 45px;
    background-color: #1E1E1E;
}

.about{
    text-align: center;
    padding: 45px;
    background-color: #1E1E1E;
}


/*////////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\

////////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\

///////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\*/
//Analytics & Ad Blocker CSS


#chromeButtonAA{
    width: 260px;
    height: 70px;
    left: 420px;
    top: 27px;
    background: #00A865;
    border-radius: 8px;
    line-height: 1;
}
/*For some reason if you add this ID to replace when is there (chromeButton) it does something weird to the button.*/


#edgeButtonAA{
    width: 260px;
    height: 70px;
    left: 420px;
    top: 27px;
    background: #E75926;
    border-radius: 8px;
    padding-left: 19px;
    margin-left: 10px;
}


#safariButton{
    width: 260px;
    height: 70px;
    background: #0A85D9;
    border-radius: 8px;
    padding-left: 19px;
    margin-left: 10px;
}

#measuredDivAA{    
    margin-top: 120px;  
}


.aaSquareDiv{
    width: 636px;
    height: 312px;
    left: 420px;
    top: 836px;
    border: 3px solid #EAEAEA;
    padding: 22px;  
}



/*////////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\

////////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\

///////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\*/


@media (max-width: 800px) {
  #heroText{
    font-size: 1.5em;
}
}

#flexContent{
    display: flex;
    width: 100%;
    justify-content: center;
}

/* Responsive layout - makes a one column layout instead of a two-column layout*/
@media (max-width: 800px) {
  #flexContent{
    flex-direction: column;
    margin-left: 40px;
    
  }
}
@media (max-width: 800px) {
  #flexContent{
    flex-direction: column;
    margin-left: 15px;
    
  }
}

.infoText{
    letter-spacing: .05em;
    font-weight: 550;
    color: white;
}

#gbContent{
    margin-top: 20px;
    
}

#iconGB{
    width: 60px;
    padding-top: .7%;
}

.hero-head{
    font-size: 36px;
    letter-spacing: .05em;
    font-weight: 550;
    color: black;
    text-align: left;
    margin-bottom: 30px;
}

.hero-head2{
    font-size: 36px;
    letter-spacing: .05em;
    font-weight: 550;
    color: black;
    text-align: left;
    margin-bottom: 10px;
}

.prdLogo{
    display: flex;
    justify-content: center;
}

#orngLogo{
    padding-top: 33px;
    height: 50px;
}

#blueLogo{
    margin-top: 60px;
    height: 50px;
    
}

.hero-content {
    width: 85%;
    padding: 10px;
    text-align: center;
    z-index: 2;

} 

.hero-sub{
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 0;
}

.aaClass{
/*   margin-left: 55px; */
}

@media (max-width: 800px) {
  .aaClass{
   margin-left: 5px; 
}
}

#addChromeG{
    white-space: nowrap;
    background: #E25B10;
    border-radius: 30px;
    padding: 5px 15px 13px 0px;
    border: none;
    color: #f2f2f2;
    font-size: 20px;
    margin-top: 14px;

}

#chromeIcon{
    text-align: left;
    height: 32px;
    margin-top: 10px;
    padding-left: 10px;
}

/*#buttonText{
    padding-left: 8px;
    text-align: center;
    font-size: 20px;
    margin-top: 16px;
}*/

#addChromeG:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  opacity: 0.92;
    cursor: pointer;
}

#addEdgeG{
    white-space: nowrap;
    background: #E25B10;
    border-radius: 30px;
    padding: 5px 19px 14px 0px;
    border: none;
    color: #f2f2f2;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 10%;
    
}

@media (max-width: 800px) {
      .GMButton{
        margin-right: 10px;
    }
}


#addEdgeGM{
    white-space: nowrap;
    background: #E25B10;
    border-radius: 30px;
    padding: 5px 20px 12px 0px;
    border: none;
    color: #f2f2f2;
    font-size: 20px;
    margin-top: 15px; 
}

#addSafari{
    white-space: nowrap;
    background: #E25B10;
    border-radius: 30px;
    padding: 5px 17px 12px 0px;
    border: none;
    color: #f2f2f2;
    font-size: 20px;
    margin-top: 15px;
    
}

#edgeIcon{
    text-align: left;
    height: 32px;
    margin-top: 10px;
    padding-left: 10px;
    
}

#safariIcon{
    text-align: left;
    height: 32px;
    margin-top: 10px;
    padding-left: 10px;
    
}

#addEdgeG:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  opacity: 0.92;
  cursor: pointer;
}

#addSafari:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  opacity: 0.92;
  cursor: pointer;
}

#addSafari-btm:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  opacity: 0.92;
  cursor: pointer;
}

#addEdgeGM:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  opacity: 0.92;
  cursor: pointer;
}

#gmImg{
    display: flex;
    width: 100%;
    padding-top: 20px;
}

#aaDiv{
    width: 100%
    display: flex;
    overflow: hidden;
}

#aaHeroContent{
    display: flex;
    width: 100%;  
}

#aaDesc{
    margin-left: 10%;
}

@media (max-width: 800px) {
  #aaHeroContent{
      font-size: 15px; 
}
    #aaDesc{
        margin-left: 3%;
    }
}

#cobe{
    z-index: -1;
    margin-left: 25%;
}

#aa1{
    font-weight: 550;
    color: cyan;
    text-shadow: 0 0 .2px #158dcfff, 0 0 .2px #158dcfff;
    margin-bottom: 10px;
    
}

#aa2{
    font-weight: 550;
    color: white;
    font-size: 25px;
}

#aa3{
    color: whitesmoke;
    font-size: 1.2rem;
}

@media (max-width: 800px) {
  #aa2{
      font-size: 16px; 
    }
  #aa3{
      font-size: 16px; 
    }
}


/*This is the column Test */
* {
  box-sizing: border-box;
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*This is the column Test */

#pointsDiv{
    display: flex;
    width: 100%;
    line-height: 0;
}

#aaPoints1{
  color: white;
  border-left: white;
  margin-left: 5px;
  font-weight: 550;
}

#aaPoints2{
  color: white;
  border-left: white;
  margin-left: 5px;
  font-weight: 550;
  line-height: 1;
  font-size: 1.2rem;
  margin-top: 13px;
  
}

#aaPoints3{
  color: white;
  margin-left: 5px;
  font-weight: 550;
}

.borderAA{
    color: cyan;
    margin-left: 5%;
}

.borderAA1{
    color: cyan;
    margin-left: 10%;
}

#detailPointsDiv{
    width: 100%;
    display: flex;
    line-height: 1;
}

#detailsAA1{
    color: aliceblue;
    font-size: 16px;
    margin-left: 7%;
    text-shadow: 0 0 .7px aliceblue, 0 0 .7px aliceblue;
}

#detailsAA2{
    color: aliceblue;
    font-size: 16px;
    margin-left: 8%;
    text-shadow: 0 0 .7px aliceblue, 0 0 .7px aliceblue;
}

#detailsAA3{
    color: aliceblue;
    font-size: 16px;
    margin-left: 7%;
    text-shadow: 0 0 .7px aliceblue, 0 0 .7px aliceblue;
}

.infoImg{
    display: flex;
    width: 100%;
}

#gmText{
    margin-left: 80px;   
}

@media (max-width: 800px) {
  #gmText{
    margin-left: 10px;
    font-size: 15px;
  }
}

#reportTitle{
    font-weight: 550;
    font-size: 25px;
}

#reportImg{
   margin-left: 25%;
   height: 50vh;
   width: 60wh;
   -webkit-box-shadow: -5px 0px 5px -3px #616161;
    box-shadow: -5px 0px 5px -3px #616161;
}

@media (max-width: 800px) {
  #reportImg{
   margin-left: 9%;
   width: 30wh;
  }
}

#reportImg1{
   margin-left: 7%;
   height: 50vh;
   width: 60wh;
   -webkit-box-shadow: -5px 0px 5px -3px #616161;
    box-shadow: -5px 0px 5px -3px #616161;
    padding-right: 30px;
}

#reportImg2{
   height: 50vh;
   width: 60wh;
   -webkit-box-shadow: -5px 0px 5px -3px #616161;
    box-shadow: -5px 0px 5px -3px #616161;
    margin-left: 15%;
}

@media (max-width: 800px) {
  #reportImg2{
   display: none;
  }
  #reportImg1{
   width: 30wh;
   margin-left: 13%;
  }
}

#head1{
  color: mediumvioletred;
  text-shadow: 0 0 .2px palevioletred, 0 0 .2px palevioletred;
  line-height: 1;
  margin-bottom: 0; 
}


#elecDiv{
   background-color: #158DCF;
    width: 96%;
    margin-bottom: 5%;
    margin-top: 120px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 2%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#elecID{
    
    letter-spacing: .05em;
    font-weight: 550;
    color: white;
    text-align: center;
    font-size: 5rem;

}


#aa_title_btm{
    line-height: 1;
    text-align: center;
    font-size: 3.0em;
}

#aa_title_btm3{
    line-height: 1;
    text-align: center;
    font-size: 3.0em;
}

#aa_title_btm1{
    line-height: 1;
    text-align: center;
    font-size: 3.0em;
    color: white;
}

@media (max-width: 800px) {
  #aa_title_btm3{
   font-size: 1.9em; 
}
  #aa_title_btm1{
   font-size: 1.9em; 
}
}

@media (max-width: 450px) {
  #aa_title_btm3{
   font-size: 1.4em; 
   margin-top: 42px;
}
  #aa_title_btm1{
   font-size: 1.4em; 
}
}

#aa_title_btm2{
    line-height: 1;
    text-align: center;
    font-size: 3.0em;
    color: white;
}

.buttonDiv_btm{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: white;
}

.buttonDiv_btm1{
    display: flex;
    width: 100%;
    justify-content: center;
}

.buttonDiv_btm2{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 15px;
    
}

.edgeLowerButtons{
    margin-left: 50px;
}

#div-button-sidebyside{
    display: flex;
    width: 100%;
    padding-left: 14%;
   
}

/* Responsive layout - makes a one column layout instead of a two-column layout*/
@media (min-width: 1700px) {
    #div-button-sidebyside{
        margin-left: 13%;
    }
} 

/* Responsive layout - makes a one column layout instead of a two-column layout*/
@media (max-width: 800px) {
  .buttonDiv_btm{
    flex-direction: column;
    text-align: center;
  }
    .edgeLowerButtons{
        margin-left: 0;
    }
    #div-button-sidebyside{
    flex-direction: column;
    text-align: center;
    padding-left: 0;
}
    #addEdgeG{
        margin-left: 0;
    }
}

.titleLogoDiv{
    display: flex;
    width: 100%;
    justify-content: center;
    border-left: 20px solid cyan;
    border-top: 20px solid blue;

}

.titleLogo{
    margin-top: 60px;
    height: 70px;
}

@media (max-width: 800px) {
    .titleLogo{
        margin-top: 35px;
        height: 45px;
        padding-left: 15px;
    }
}

#btm_AA_btn{
    margin-top: 4%;
}


#addSafari-btm{
    white-space: nowrap;
    background: #E25B10;
    border-radius: 30px;
    padding: 5px 30px 12px 0px;
    border: none;
    color: #f2f2f2;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 20%;
    
}


@media (max-width: 800px) {
  /*.titleLogo{
    height: 45px;
    padding-left: 15px;
  }*/
    #addSafari-btm{
    margin-left: 0%;
    }
}

#badgeDiv2{
    transform: skewY(-3deg);
    background-color: whitesmoke;
    height: 60vh;
}

@media (max-width: 800px) {
  #badgeDiv2{
    height: 90vh;
  }
}

#badgeImgDiv{
    width: 100%;
    justify-content: center;
    display: flex;
}

#badgeExample{
    padding-bottom: 10px;
    
}


#formDiv{
    width: 100%;
    text-align: center;
}

#formID{
   font-size: 30px;
   text-decoration: none;
   color: #606060;
}

#formID:hover {
  color: #E25B10;
}


.footer{
  margin-top: 7.5%;
  background-color: #2B2B2B;
  position: absolute;
  width: 100%;
  
}

#rr{
    text-align: center;
    font-size: 12px;
}

#side-menu{
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

/*Delete if you don't want badge*/
#bottom{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.vertical-menu {
  padding-bottom: 20px;

}

.vertical-menu a {
  text-decoration: none;
  color: #EAEAEA;
  display: block;
}

.vertical-menu a:hover, #aaLink:hover, #aboutLink:hover{
  color: #E25B10;
}

#supportID{
    font-size: 25px;
    font-weight: 550;
    padding-right: 30px;
}

#companyID{
    font-size: 24px;
    font-weight: 550;
    padding-right: 20px;
    margin-right: 25px
}

.linkText{
    padding-bottom: 9px;
    margin-left: 5px;
    font-size: 20px;
}

.cookies-infobar {
  background: #606060;
  color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  text-align: left;
  display: flex;
  font-size: .8em;
  z-index: 9;
  opacity: 95%;
}

.cookies-infobar.cookies-infobar_accepted {
  display: none;
}

.cookies-infobar_wrapper {
  margin: 10px;
}

.cookies-infobar a {
  color: inherit;
}

.cookies-infobar_btn {
  display: inline-block;
  padding: 15px 18px;
  background: #E25B10;
  text-decoration: none;
  border-radius: 3px;
  color: #f2f2f2;
  font-size: 1.2em;
  margin-left: 20%;
  line-height: 0;
}