/*This is the CSS for the new window report*/

body {
  font-family: veranda, sans-serif;
  font-size: 12px;
  background-color:  white;
  margin: 0;
  padding: 0;
  block-size: 97vh;
  color: #606060;
}

#title{
    display: flex;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 5px;
    letter-spacing: 0.1em;
}

#gbTitle{
    margin-left: 10px;
    margin-bottom: 10px;
    line-height: 0;
    margin-bottom: 2px;
}

#chartTitleDiv{
    display: flex;
    width: 100%;
    justify-content: center;
    line-height: 0;
}

#chartTitle{
    font-size: 17px;
    line-height: 0;
    letter-spacing: 0.1em;

}

.info-icon{
    margin-left: 75%;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    padding: 3px;
    background: #fff;
    border: 1.5px solid #606060;
    color: #606060;
    text-align: center;
    font-size: 9px;
    font-weight: 550;  
}

#infoTip{
    display: none;
}

.info-icon:hover + #infoTip{
  display: block;
  width: 240px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  font-size: 11px;
  margin-left: 80%;    
    
}

#menuBar{
    display: flex;
    width: 100%;
    justify-content: center;
}

#siteOver{
    margin-right: 20px;
}

/* max-inline-size used to be 100%*/
canvas {
  max-inline-size: 90% !important;
  block-size: 90% !important;
  margin-left: 5%;
}


#chartDiv {
  max-inline-size: 90% !important;
  block-size: 90% !important;
  margin-left: 5%;
}


#requestDiv {
  padding-inline: 10px;
}

.site-more {
  background: transparent;
  border: none;
  cursor: pointer;
}
.site-more-rotated {
  transform: rotate(90deg);
}

.list-sections {
  display: none;
}
